@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
}


body{
    margin: 0px;
}
ul {
    display:flex;
    justify-content: space-around;
    width: 100%;
    font-family: arial;
    color: #84aaff;
}
#header{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background: url(Images/Nav/blueandyellowcover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#headerlogo{
    align-self: center;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 1.2s;
    animation-name: fadeIn;
    animation-play-state: running;
    animation-timing-function: ease-in;
}

li{
    align-self: center;
    list-style-type: none;
    text-decoration: none;

}
a {
    text-decoration: none;
    color: #84aaff
}
#profile {
    margin-left: 45px;
    margin-top: 10px;
    width:95%;
    border: solid #84aaff;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: arial;
    color: #84aaff;

}
#artwork {
    margin-left: 45px;
    margin-top: 10px;
    width:95%;
    border: solid #84aaff;
    height: 3500px;
    display: flex;
/*    justify-content: center;*/
    flex-direction: column;
    align-items: center;
    font-family: arial;
    color: #84aaff;
}
#artwork-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-duration: 1.2s;
    animation-name: fadeIn;
    animation-play-state: running;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-name: moveRight;

}
#artwork-ABI {
    margin-left: 45px;
    margin-top: 10px;
    width:95%;
/*    height: 3000px;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: arial;
    color: #84aaff;
}

.image-space {
    margin-top: 20px;
}

#profile-image{
    width: 671px;
    height: 447px;
    border: solid 30px white;
}

#profile-para{
    font-family: baskerville;
    width: 40%;
    height; 250px;
    font-size: 25px;

}
#profile-body{
    display: flex;
    align-items: center;
}

#contactme {
    margin-left: 45px;
    margin-top: 10px;
    width:95%;
    border: solid #84aaff;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: arial;
    color: #84aaff;
}
#contactme-para {
    font-family: baskerville;
    width: 40%;
    height; 250px;
    font-size: 25px;
}


