@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100px);
    }
}

body {
    margin: 0px;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 90%;
    font-family: arial;
    color: #84aaff;
}

#header {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background: url(Images/Nav/blueandyellowcover.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerlogo {
    align-self: center;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 1.2s;
    animation-name: fadeIn;
    animation-play-state: running;
    animation-timing-function: ease-in;
    width: 43%;
}

li {
    align-self: center;
    list-style-type: none;
    text-decoration: none;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 1.2s;
    animation-name: fadeIn;
    animation-play-state: running;
    animation-timing-function: ease-in;
}

a {
    text-decoration: none;
    color: #84aaff
}

#profile {
    border: solid #84aaff;
    margin-top: 10px;
/*    width: 90%;*/
    color: #84aaff;
    font-family: arial;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-left: 45px;
    margin-right: 45px;
}

#artwork {
    margin-left: 45px;
    margin-top: 10px;
/*    width: 90%;*/
    border: solid #84aaff;
    height: 4100px;
    display: flex;
    /*    justify-content: center;*/
    flex-direction: column;
    align-items: center;
    font-family: arial;
    color: #84aaff;
    margin-right: 45px;
}

#artwork-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    /*
    animation-delay: 0s;
    animation-direction: alternate;
    animation-duration: 1.2s;
    animation-name: fadeIn;
    animation-play-state: running;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-name: moveRight;
*/
}

#artwork-ABI {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: arial;
    color: #84aaff;
}

.image-space {
    margin-top: 20px;
    width: 350px;
    height: 550px;
}

/*End of artwork content*/

#profile-image {
    width: 100%;
    align-self: center;
/*            border: solid 1px orange;*/

}

#profile-small {
    display: flex;
    flex-direction: column;
        font-size: 15px;
        width: 80%;
        z-index: 2;
align-items: center;
  justify-content: center;

}

   #profile-image-container {
        width: 45%;
        height: 100%;


    }

#profile-para {
    font-family: baskerville;
    width: 350px;
    height;
    250px;
    font-size: 25px;
    margin: 30px;
}

#contactme-para {
    font-family: baskerville;
    font-size: 20px;
    margin: 15px;
    display: flex;
    text-align: center;
}

#contactme {
    border: solid #84aaff;
    font-family: arial;
    color: #84aaff;
    margin-left: 45px;
/*    width: 90%;*/
    margin-top: 10px;
    margin-bottom: 20px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-right: 45px;
}







/*Beginning of mobile version!*/



@media only screen and (max-width: 375px) {
    ul {
        display: flex;
        justify-content: space-around;
        width: 300px;
        font-family: arial;
        color: #84aaff;
        font-size: 15px;
        height: 5px;
    }
    #header {
        display: flex;
        justify-content: center;
        margin-top: 0px;
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background: url(Images/Nav/blueandyellowcover.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-left: 0px
    }
    #headerlogo {
        align-self: center;
        animation-delay: 0s;
        animation-direction: normal;
        animation-duration: 1.2s;
        animation-name: fadeIn;
        animation-play-state: running;
        animation-timing-function: ease-in;
        height: 150px;
    }
    #profile {
        height: 1060px;
        margin-left: 5px;
        width: 360px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: 650px;

    }
    #profile-image-container {
        width: 250px;
        height: 100%;


    }
    #profile-small {
        flex-direction: column;
        font-size: 15px;
        width: 500px;
        z-index: 2;
    }
    #profile-image {
        width: 100%;

    }
    .image-space {
    margin-top: 20px;
    width: 200px;
    height: 300px
}
   #profile-para {
    font-family: baskerville;
    width: 300px;
    height;
    250px;
    font-size: 25px;
}
    #artwork {
    margin-left: 5px;
    margin-right: 0px;
/*    margin-left: 45px;*/
    margin-top: 10px;
    border: solid #84aaff;
    height: 2360px;
    display: flex;
    /*    justify-content: center;*/
    flex-direction: column;
    align-items: center;
    font-family: arial;
    color: #84aaff;
    width: 360px;
}
#contactme {
    margin-left: 5px;
    margin-top: 10px;
    border: solid #84aaff;
    height: 175px;
    display: flex;
/*
    justify-content: center;
    flex-direction: column;
    align-items: center;
*/
    font-family: arial;
    color: #84aaff;
    width: 360px;
    margin-bottom: 10px;
    }

    #contactme-para {
    font-family: baskerville;
    font-size: 16px;
    align-items: center;
    }

    .thing {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #headerlogo {
        width: 90%
    }
/*hi*/
